  	<header>
  		
  		<div class="image_logo">
  					<%= image_tag "imgWall", width: '100%'%>
  		</div>
  		<nav class="be-blue white">
  			<ul class="no-list row center-xs">
  				<li class="col-md">
  					<%= link_to 'Inicio', articulos_path %>
  				</li>
  				<% if user_signed_in? %>
  				<li class="col-md">
  					<%= link_to 'Nuevo Articulo', new_articulo_path%>
  				</li>
  				<%end%>
  				<li class="col-md">
  					<%= link_to "Programacion"%>
  				</li>
  				<li class="col-md">
  					<%= link_to "Tecnologia"%>
  				</li>

	  				<% if user_signed_in? %>
  				<li class="col-md">
  					<%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete%>
  				</li>
  				<%else%>
  				<li class="col-md">
  					<%= link_to "Iniciar sesion", new_user_session_path%>
  				</li>
  				<li class="col-md">
  					<%= link_to "Crear sesion", new_user_registration_path%>
  				</li> 
				<%end%>
  			</ul>
  		</nav>
  	</header>