<%= form_for @articulo, html: { multipart: true } do |f| %>
  <% if @articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>
      <ul>
      <% @articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_titulo">
    <%= f.label :titulo %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field_cuerpo">
    <%= f.label :cuerpo %>
    <%= f.text_area :cuerpo %>
  </div>

  <div class="field_link">
    <%= f.label :link_mercado %>
    <%= f.text_area :link_mercado %>
  </div>

  <div class="field_imagen">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %> 
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
