<% @articulos.each do |articulo| %>
<p id="notice"><%= notice %></p>
<% end %>
<h1>Articulos</h1>
<% @articulos.each do |articulo| %>
<div class="row">
	<div class="art_main2">
		<div class="img_index"><%= link_to (image_tag articulo.image_url(:thumb).to_s),articulo %></div>
	</div>
		<div class="ttl_index"><%= link_to articulo.titulo,articulo %></div>	
</div>
       
 <!--        
 	<div class="cp_index"><%= link_to articulo.cuerpo,articulo %></div>
 	<div class=="link"><%= articulo.link_mercado %></div>
        <div class=="titulo"><%= articulo.count_vts %></div> -->
        
 <!--       <div<%= link_to 'Show', articulo %></div>
        <div><%= link_to 'Edit', edit_articulo_path(articulo) %></div>
        <div><%= link_to 'Destroy', articulo, method: :delete, data: { confirm: 'Are you sure?' } %></tddiv -->
<% end %> 
    
<br>

<!-- 
<%= link_to 'New Articulo', new_articulo_path %> 
 -->
