<!DOCTYPE html>
<html>
  <head>
    <title>TiendaMercado</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container" id="main-container">
  	
  	<%= render "/partials/navigationTop"%>
  	<%= render "/partials/busquedaArticulos"%>
  	<p class=""><%= notice %></p>
    <p class=""><%= alert %></p>
    <%= yield %>
    </div>
  </body>
</html>
